  <div class="container">
    <% @results['data'].each do |result| %>
      <div class="row instagram-post">
        <div class="seven columns pic-container">
            <a href= <%=result['link'] %>><%=image_tag(result["images"]["standard_resolution"]["url"], :class => 'image') %></a>
        </div>
        <div class="five columns">
          <div class="post">
            <a href="http://instagram.com/<%=result['user']['username']%>"><%= image_tag(result['user']['profile_picture'], :class => 'profile-pic')%></a>
            <a href="http://instagram.com/<%=result['user']['username']%>"><p class="username"><%= result['user']['username'] %></p></a>
            <p> <%= result['caption']['text'] %></p>
            <p> Likes: <%= result['likes']['count'] %></p>
            <p> Comments: <%= result['comments']['count'] %></p>
          </div>
        </div>
      </div>
    <% end %>



    <%= link_to "dafda", "/pictures/#{@results['pagination']['next_max_tag_id']}", remote: true, class: 'fetch-pictures' %>
  </div>
